section > div {
    float: left;
    width: 33%;
}

nav > ul > li {
    list-style: none;
}

img {
    width: 90%
}

section > article > div {
    float: left;
    width: 33%;
}

section > article > div > p {
    width: 90%;
}