* {
    box-sizing: border-box;
}
nav h2 {
    float: left;
    width: 10%;
}

nav a {
    float: left;
    width: 10%;
}

ul li {
    float: left;
    width: 7%;
    list-style: none;
}

body h1 {
    float: right;
}

main> section > div {
    float: left;
    width: 50%;
}
main > section > section > div {
    float: left;
    width: 25%;

}

section > div {
    float: left;
    width: 33%
}

img {
    width: 95%;
}

p {
    width: 90%;
}

